header {

    background-color: #2f2f2f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h2 {

    color: white;

}

a {

    margin-left: 15px;

}